@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Poppins:wght@500;700&display=swap');


html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #333;
  width: 100%;
}

*::selection {
  background-color: #EB3434;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

